[submodule "protobufs"]
	path = protobufs
	url = git@github.com:enastvo/protobufs.git
	branch = barn-remote-control
[submodule "meshtestic"]
	path = meshtestic
	url = https://github.com/meshtastic/meshTestic
